

<div>
 
<form  action="https://formspree.io/f/xrbzzpjd"  method="POST" >
      
  <input name="name" type="text" placeholder="名前" class="form__input" id="name" required  autocomplete="off"/>
  <label for="name" class="form__label">名前</label>

  <input name="email" type="email" placeholder="メール" class="form__input" id="email"  required autocomplete="off" />
  <label for="email" class="form__label">メール</label>

  <textarea name="message"  class="form__input__textarea" placeholder="メッセージ" id="message" rows="4" cols="50" required autocomplete="off" ></textarea>
  <label for="message" class="form__label form__label__textarea">メッセージ</label>

  <button type="submit">送信</button>
</form>

</div>